<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>key</key>
	<string>u9BddkAXjxchJrvejhf0Hgok6</string>
	<key>secret</key>
	<string>VCcA2CVMXcCx4Sl6MqUyRdEFuKCUq8vu31EeEk83OxVwXfhIaM</string>
</dict>
</plist>
